COSMOS_RPC_URL=https://rpc.sei-apis.com
EVM_RPC_URL=https://evm-rpc.sei-apis.com
CW721_CONTRACT=sei13g0nupntdq7fp09z8gc6s42g4qjduh9aw64mp5z7hf5hzmlvdmrqf4hay9
ERC721_POINTER=0x9c979cD31D0C7b5764876cB4175484fe1206f091
POINTER_CONTRACT_ADDRESS=0x9c979cD31D0C7b5764876cB4175484fe1206f091
COSMWASM_MARKETPLACE=
EVM_MARKETPLACE=
DB_PATH=./indexer.db
PORT=3001
POLL_INTERVAL_MS=6000
